<!DOCTYPE html>
<html lang="tr">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>Anasayfa | iMarket</title>
		<link rel="shortcut icon" href="assets/images/logo/favourite_icon_01.png">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheet/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheet/fontawesome.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheet/animate.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheet/nice-select.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheet/slick.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheet/slick-theme.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheet/magnific-popup.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheet/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="app/app/assets/stylesheet/style.css">

	</head>


	<body class="home_classic_ecommerce">
    <div class="content">
      <div class="ortala">
		<!-- header_section - start
		================================================== -->
		<header class="header_section classic_ecommerce_header sticky_header clearfix">
			<div class="header_top bg-info text-white clearfix">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<span class="offer_text">150₺ ve üzeri Yurtiçi Siparişlerde Kargo Bedava</span>
						</div>
						<div class="col-lg-6">
							<ul class="primary_social_links ul_li_right clearfix">
								<li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#!"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
								<li><a href="#!"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#!"><i class="fab fa-google-play"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="header_bottom clearfix">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-3">
							<div class="brand_logo">
								<a class="brand_link" href="#!">
									<%= image_tag "logo.png", class:"1x", style:"max-width:200px;" %>
								</a>

								<ul class="mh_action_btns ul_li clearfix">
									<li>
										<button type="button" class="search_btn" data-toggle="collapse" data-target="#search_body_collapse" aria-expanded="false" aria-controls="search_body_collapse">
											<i class="fal fa-search"></i>
										</button>
									</li>
									<li><button type="button" class="mobile_menu_btn"><i class="far fa-bars"></i></button></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-6">
							<nav class="main_menu clearfix">
								<ul class="ul_li_center clearfix">
									<li class="menu_item_has_child">
										<a href="#!">Kategoriler</a>
										<div class="mega_menu">
											<div class="background" data-bg-color="#ffffff">
												<div class="container">
													<div class="row mt__30">
														<div class="col-lg-3">
															<div class="page_links">
																<h3 class="title_text">Televizyon</h3>
																<ul class="ul_li_block">
																	<li><a href="">LED</a></li>
																	<li><a href="">LCD</a></li>
																	<li><a href="">Curved</a></li>
																	<li><a href="">4K</a></li>
																</ul>
															</div>

															<div class="page_links">
																<h3 class="title_text">Bilgisayarlar</h3>
																<ul class="ul_li_block">
																	<li><a href="">Notebook</a></li>
																	<li><a href="">All in One</a></li>
																</ul>
															</div>

														</div>

														<div class="col-lg-3">
															<div class="page_links">
																<h3 class="title_text">Tabletler</h3>
															</div>

															<div class="page_links">
																<h3 class="title_text">E-Kitaplar</h3>
															</div>

															<div class="page_links">
																<h3 class="title_text">Telefonlar</h3>
																<ul class="ul_li_block">
																	<li><a href="">Akıllı Telefonlar</a></li>
																	<li><a href="">Oyun Telefonları</a></li>
																</ul>
															</div>
														</div>

														<div class="col-lg-3">
															<div class="page_links">
																<h3 class="title_text">OEM Birimleri</h3>
																<ul class="ul_li_block">
																	<li><a href="">Ekran Kartı</a></li>
																	<li><a href="">RAM</a></li>
																</ul>
															</div>

															<div class="page_links">
																<h3 class="title_text">Ev Eşyaları</h3>
																<ul class="ul_li_block">
																	<li><a href="">Beyaz Eşyalar</a></li>
																	<li><a href="">Ev Alet Gereçleri</a></li>
																</ul>
															</div>
														</div>

														<div class="col-lg-3">
															<div class="page_links">
																<h3 class="title_text">Banyo Gereçleri</h3>
																<ul class="ul_li_block">
																	<li><a href="">Termosifon</a></li>
																	<li><a href="">Elektrikli Diş Fırçaları</a></li>
																</ul>
															</div>

															<div class="page_links">
																<h3 class="title_text">Drone</h3>
																<ul class="ul_li_block">
																	<li><a href="">Kablolu Dronelar</a></li>
																	<li><a href="">360 Dronelar</a></li>
																</ul>
															</div>

															<div class="page_links">
																<h3 class="title_text">E-Scooter</h3>
																<ul class="ul_li_block">
																	<li><a href="">Hoverboard</a></li>
																	<li><a href="">E-Bys</a></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li class="menu_item_has_child">
										<a href="#!">Kampanyalar</a>
										<ul class="submenu">
											<li class="menu_item_has_child">
												<a href="#!">Ramazan'a Özel Fırsatlar</a>
												<ul class="submenu">
													<li><a href="#!">Apple Cihazlar</a></li>
													<li><a href="#!">Mutfak Gereçleri</a></li>
													<li><a href="">Ev Aletleri</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li><a href="#!">İletişim</a></li>
								</ul>
							</nav>
						</div>

						<div class="col-lg-3">
							<ul class="action_btns_group ul_li_right clearfix">
								<li>
									<button type="button" class="search_btn" data-toggle="collapse" data-target="#search_body_collapse" aria-expanded="false" aria-controls="search_body_collapse">
										<i class="fas fa-search fa-fw"></i>
									</button>
								</li>
								<li>
									<button type="button" class="user_btn" data-toggle="collapse" data-target="#use_deropdown" aria-expanded="false" aria-controls="use_deropdown">
										<i class="fa-regular fa-user"></i>
									</button>
									<div id="use_deropdown" class="collapse_dropdown collapse">
										<div class="dropdown_content">
											<div class="profile_info clearfix">
												<div class="user_thumbnail">
													<img src="assets/images/meta/img_01.png" alt="thumbnail_not_found">
												</div>
												<div class="user_content">
													<h4 class="user_name">Ufuk Canatan</h4>
													<span class="user_title">Müşteri</span>
												</div>
											</div>
											<ul class="settings_options ul_li_block clearfix">
												<li><a href="#!"><i class="fal fa-user-circle"></i> Profil</a></li>
												<li><a href="#!"><i class="fal fa-user-cog"></i> Ayarlar</a></li>
												<li><a href="#!"><i class="fal fa-sign-out-alt"></i> Çıkış Yap</a></li>
											</ul>
										</div>
									</div>
								</li>
								<li>
									<button type="button" class="cart_btn bg-info">
										
										
									<% if current_user.present? %>
									<%= link_to cart_index_path do%>
										<span class="btn_badge"><%=current_user.current_cart.posts.count%></span>
										<i class="fa-solid fa-cart-shopping"></i>
									<% end %>
									<% else %>
										<%= link_to cart_index_path do%>
											<i class="fa-solid fa-cart-shopping"></i>
										<% end %>
										
									<% end %>
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div id="search_body_collapse" class="search_body_collapse collapse">
				<div class="search_body">
					<div class="container">
						<form action="#">
							<div class="form_item mb-0">
								<input type="search" name="search" placeholder="Keşfetmeye Başla">
								<button type="submit"><i class="fal fa-search"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</header>
		<!-- header_section - end
		================================================== -->


		<!-- main body - start
		================================================== -->
		<main>

      		<section class="cart_section sec_ptb_140 clearfix">
				<div class="">
					<div class="row">
						<div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
							<div class="cart_table mb_50">
								<table class="table">
									<thead class="text-uppercase">
										<tr>
											<th>Ürün Adı</th>
											<th>Fiyat</th>
											<th>Adet</th>
											<th>Toplam Fiyat</th>
										</tr>
									</thead>
									<tbody>
										<% @carts.each do |cart| %>
										<tr>
											<td>
												<div class="cart_product">
													<div class="item_image">
														<%if cart.image.attached?%>
															<%=image_tag cart.image%>
														<%else%>
															Fotoğraf Bulunamadı.
														<%end%>
													</div>
													<div class="item_content">
														<%= truncate(cart.title, length: 40, class:"item_title")%>
														<%if @categories.find(cart.category_ids).last.present?%>
														<span class="item_type"><%= @categories.find(cart.category_ids).last.name%></span>
														<%end%>
													</div>
												</div>
											</td>
											<td>
												<span class="price_text"><%= cart.cost%> TL</span>
											</td>
											<td>
												<div class="quantity_input">
													<form action="#">
														<span class="input_number_decrement">–</span>
														<input class="input_number" type="text" value="1">
														<span class="input_number_increment">+</span>
													</form>
												</div>
											</td>
											<td><span class="total_price"><%= @cart_sum %> TL</span></td>
										</tr>
										<% end %>

										
									</tbody>
								</table>
							</div>

							<div class="coupon_wrap mb_50 p-4 rounded" data-bg-color="#f7f7f7">
								<div class="row justify-content-lg-between">
									<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
										<div class="coupon_form">
											<div class="form_item mb-0">
												<form action="/payments" method="POST" class="d-flex justify-content-between">
													<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
													<input type="text" class="coupon w-auto" name="name" placeholder="Kupon kodunu giriniz" />
													<input type="submit" class="custom_btn bg-danger text-uppercase ml-4"/>
												</form>
												<small><strong><%= @name %></strong> Kodu başarıyla uygulandı.</small>
											</div>
										</div>
									</div>

									<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
										<div class="cart_update_btn">
											<button type="button" class="custom_btn bg-secondary text-uppercase">Sepeti Güncelle</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row justify-content-lg-end">
						<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
							<div class="cart_pricing_table pt-0 text-uppercase" data-bg-color="#f2f3f5">
								<h3 class="table_title text-center" data-bg-color="#ededed">Sepet Tutarı</h3>
								<ul class="ul_li_block clearfix">
									<% @coupons.each do |coupon|%>

										<%if  @name == coupon.name %>
										<li><span>Alt Toplam</span> <span><%= @cart_sum - 100%></span></li>
										<li><span>Toplam</span> <span><%= @cart_sum - 100 %></span></li>
										<%else%>
										<li><span>Alt Toplam</span> <span><%= @cart_sum %></span></li>
										<li><span>Toplam</span> <span><%= @cart_sum %></span></li>
										<%end%>
									<%end%>
								</ul>
							</div>
						</div>	
					</div>
				</div>
			</section>

		</main>
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	</body>
</html>
