
<body class="">
    <div class="" style="background: #f3f3f3">
      <div class="row">
        <div class="col-3 col-md-6 col-lg-3 col-xl-3"></div>
        <div class="col-6 col-md-12 col-lg-6 col-sm-12 col-xs-12 col-xl-6" style="background: #efefef; border-left: 3px solid #00000022; border-right: 3px solid #00000022;">
          <div class="w-100 px-5 mt-2" style="height: 180px; border-radius: 15px">
            <h4 style="padding: 5px; font-weight: bolder; color: #121212">Anasayfa<small class="ml-3" style="font-size: 13px">(admin@gmail.com)</small></h4>
            <div class="d-flex">
              <div class="mt-4">
                <%= image_tag "admin_logo.jpg", class:"img-circle img-bordered-sm", style:"height: 60px; width: 60px;"%>
              </div>
              <%= form_for @ithink do |f| %>
              <div>
                <%= f.text_area :content, required: true, placeholder: "Neler Oluyor?", class:"form-control ml-5 mt-4", style:"height: 60px; width: 740px; background-color: #17a2b822;"%>
              </div>
            </div>
            <div class="w-100 mt-2 d-flex">
              <%= f.text_field :name, required: true , placeholder: "Adınız", class:"form-control", style:"background-color: #17a2b822; margin-left: 90px; width: 100px;" %>
              <%= f.text_field :surname, required: true,  placeholder: "Soyadınız", class:"form-control ml-3", style:"background-color: #17a2b822; width: 100px;" %>
              <%= f.submit 'Yorumla',class: 'btn btn-sm btn-primary', style:"margin-left: 465px"%>
            </div>
            <% end %>
          </div>

          <section class="content w-100 p-4 mt-n2">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="timeline">
                    <% @ithinks.each do |f| %>  
                      <div>
                        <!-- <i class="fas <%=@arr[Random.rand(0...7).to_i]%>" style="background-color:<%="%06x" % (rand * 0xffffff)%>; color:white"></i>-->
                        <div class="timeline-item">
                          <span class="time"
                            ><i class="fas fa-clock"></i> 12:05</span
                          >
                          <h3 class="timeline-header">
                            <a href="#"><%= "#{f.name.capitalize } #{f.surname.capitalize }"%></a> <%= current_user.email %>
                          </h3>

                          <div class="timeline-body">
                              <%= f.content %><br>
                          </div>
                          <div class="timeline-footer">
                            <a class="btn btn-primary btn-sm">Beğen</a>
                            <a class="btn btn-danger btn-sm">Şikayet Et</a>
                          </div>
                        </div>
                      </div>
                    <%end%>
                    <div>
                    </div>
                    <div>
                    
                      
                      <div class="timeline-item">
                        <span class="time"
                          ><i class="fas fa-clock"></i> 42 dakika önce</span
                        >
                        <h3 class="timeline-header">
                          <a href="#">Musa Yerleşmiş</a> bir gönderiye yorum yaptı
                        </h3>
                        <div class="timeline-body">
                          Titrerim mücrim gibi, baktıkça istikbalime.
                        </div>
                        <div class="timeline-footer">
                          <a class="btn btn-primary btn-sm">Tüm yorumları gör</a>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="timeline-item">
                        <span class="time"
                          ><i class="fas fa-clock"></i> 2 gün önce</span
                        >
                        <h3 class="timeline-header">
                          <a href="#">Ufuk Canatan</a> yeni fotoğraflar ekledi
                        </h3>
                        <div class="timeline-body">
                          <div class="row">
                            <div class="col-6 p-2">
                                <img style="max-width: 350px;"
                                  src="https://img.internethaber.com/rcman/Cw480h270q95gc/images/gallery/37266/b.jpg"
                                  alt="..."
                                />
                            </div>
                            <div class="col-6 p-2">
                                <img style="max-width: 350px;"
                                  src="https://img.internethaber.com/rcman/Cw480h270q95gc/images/gallery/37266/b.jpg"
                                  alt="..."
                                />                                    
                            </div>
                            <div class="col-6 p-2">
                                <img style="max-width: 350px;"
                                  src="https://img.internethaber.com/rcman/Cw480h270q95gc/images/gallery/37266/b.jpg"
                                  alt="..."
                                />                                    
                            </div>
                            <div class="col-6 p-2">
                                <img style="max-width: 350px;"
                                  src="https://img.internethaber.com/rcman/Cw480h270q95gc/images/gallery/37266/b.jpg"
                                  alt="..."
                                />                                    
                            </div>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div>

                      <div class="timeline-item">
                        <span class="time"
                          ><i class="fas fa-clock"></i> 5 gün önce</span
                        >

                        <h3 class="timeline-header">
                          <a href="#">Salim Tambay</a> bir video paylaştı
                        </h3>

                        <div class="timeline-body">
                          <div class="embed-responsive embed-responsive-16by9">
                            <iframe
                              class="embed-responsive-item"
                              src="https://www.youtube.com/embed/tMWkeBIohBs"
                              allowfullscreen
                            ></iframe>
                          </div>
                        </div>
                        <div class="timeline-footer">
                          <a href="#" class="btn btn-sm bg-primary">Tüm yorumları gör</a>
                        </div>
                      </div>
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col-3 col-md-3 col-lg-3 col-xl-3"></div>
      </div>
    </div>
</body>
</html>

